.addSummoner {
  display: flex;
  min-width: 200px;
  flex-direction: row;
  justify-content: safe center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .addSummoner {
    min-width: 100px;
  }
}