.addSummoner {
  display: flex;
  min-width: 200px;
  flex-direction: row;
  justify-content: safe center;
  align-items: center;
}

.summonerInput {
  width: 150px;
  height: 1.5em;
  font-size: 1em;
  margin-right: 5px;
  border: none;
  border-radius: 2px;
}

@media screen and (max-width: 750px) {
  .addSummoner {
    min-width: 100px;
  }
  .summonerInput {
    height: 1.3em;
  }
}