.logo {
  width: 82px;
  padding: 5px;
  cursor: pointer;
}

nav {
  position: sticky;
  z-index: 10;
  top: 0px;
  width: 100%;
  display: flex;
  max-height: 56px;
  margin-bottom: 20px;
  align-items: center;
  background-color: #006666;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0,0,0,.26);
}


@media screen and (max-width: 750px) {
  nav {
    margin-bottom: 0px;
  }
}