.championMastery {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}

.championHead {
  position: relative;
  padding: 0;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.headContent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  min-width: 200px;
  z-index: 2;
}
.championDetails {
  padding: 20px;
  background-color: #fff;
}
.headContent > * {
  flex: 1;
}
.championAvatar {
  display: block;
}

.masteryImage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.championImage {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-repeat: no-repeat;
  background-size: cover;
}