.input {
    background-color: inherit;
    border: none;
    padding: 8px 0px 8px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.input:focus {
    outline: none;
    padding-bottom: 7px;
    border-bottom: 2px solid #548feb;
    caret-color: #548feb;
}

.light {
    color: rgba(0, 0, 0, 0.7);
    border-bottom-color: rgba(0, 0, 0, 0.7);
}

.light::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.dark {
    color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.7);
}

.dark::placeholder {
    color: rgba(255, 255, 255, 0.7);
}