.profile {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.profileHeader {
  position: relative;
}
.profileBody {
  padding: 10px;
  min-height: 400px;
  background-color: #dcdcdc;
}

.profileBody > h2 {
  font-style: italic;
  text-shadow: 1px 1px 5px #aaa;
  color: #000;
}
.masteries {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.masteries > * {
  margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .profile {
    width: 95%;
  }
}