.app {
}
.logo {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

nav {
  display: flex;
  padding-right: 10px;
  margin-bottom: 20px;
  align-items: center;
  background-color: #dfdfdf;
  justify-content: space-between;
}
nav > .primaryInput {
  justify-content: flex-end;
}

.appHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.appTitle {
  font-size: 1.5em;
}

.loadingBar {
  margin: auto;
  width: 200px;
}

@media screen and (max-width: 750px) {
  .app {
    width: 100%;
    margin: auto;
  }
}